body {
  background-color: blueviolet;
  font-family: poppins, monospace;
  padding: 40px;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
}

h2 {
  color: white;
}

div {
  padding: 20px;
}

button {
  background-color: black;
  color: blueviolet;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
